version: "3"
services:
  nginx: 
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginx/confs:/etc/nginx/conf.d
      - ./html:/var/www/html/     
    ports:
      - "80:80"
    networks:
      default:
        aliases:
          - site1.local          
    depends_on:          
          - php7.3      

  php7.3:
    build: ./php7.3
    container_name: php7.3
    volumes:
      - ./html:/var/www/html/        
  
networks:
  default:
    ipam:
       driver: default
       config:
          - subnet: 172.29.0.0/16
